<app-carousel [slides]="slides"></app-carousel>
<section class="flex flex-col items-center p-8 bg-gray-800 shadow-md ">
  <h2 class="text-2xl font-bold mb-6 text-white text-center">НАШІ ПРОГРАМИ НАВЧАННЯ</h2>

  <article *ngFor="let program of studyPrograms" class="max-w-2xl flex flex-col sm:flex-row bg-white transition hover:shadow-xl mb-10">

    <!-- Date sidebar -->
    <div *ngIf="program.date" class="p-2 sm:rotate-180 sm:[writing-mode:_vertical-lr]">
      <time datetime="2022-10-10" class="flex items-center justify-between gap-4 text-xs font-bold uppercase text-gray-900">
        <span *ngIf="program.date.year">{{ program.date.year }}</span>
        <span class="hidden sm:block w-px flex-1 bg-gray-900/10"></span>
        <span *ngIf="program.date.month && program.date.day">{{ program.date.day }} {{ program.date.month }}</span>
      </time>
    </div>

    <!-- Image - we'll make it visible for all screen sizes and re-order it for mobile -->
    <div class="order-2 sm:order-none sm:w-1/3">
      <img
        alt="{{ program.title }}"
        src="{{ program.image }}"
        class="aspect-square h-full w-full object-cover"
      />
    </div>

    <!-- Content -->
    <div class="flex flex-1 flex-col justify-between order-3 sm:order-none sm:w-1/2">
      <div class="border-s border-gray-900/10 p-4 sm:border-l-transparent sm:p-6">
          <h3 class="font-bold uppercase text-gray-900">
            <a href="#">
              {{ program.title }}
            </a>
          </h3>
          <div class="mt-2 line-clamp-8 text-sm/relaxed text-gray-700">
            <p>{{ program.description }}</p>
            <ul *ngIf="program.thesesList && program.thesesList.length > 0">
              <li *ngFor="let these of program.thesesList">
                <p>{{ these.toUpperCase() }}</p>
              </li>
            </ul>
          </div>
      </div>
      <div class="sm:flex sm:items-end sm:justify-end">
        <a
          href="{{ program.buttonLink }}"
          class="block bg-yellow-300 px-5 py-3 text-center text-xs font-bold uppercase text-gray-900 transition hover:bg-yellow-400"
        >
         {{ program.buttonText }}
        </a>
      </div>
    </div>

  </article>

</section>
